# Carpetas de dependencias y node
node_modules/
.npm/

# Carpetas pesadas generadas por Android Studio y Gradle
.gradle/
build/
android/app/build/
android/.gradle/
android/build/
/android/local.properties

# Archivos ocultos del sistema Mac
.DS_Store
.AppleDouble
.LSOverride
android/app/release/
echo "android/app/src/main/res/drawable-*/" >> .gitignore
echo "android/app/src/main/res/mipmap-*/" >> .gitignore
echo "assets/" >> .gitignore
echo "icons/" >> .gitignore
git add .gitignore
git commit -m "Ignorar recursos graficos autogenerados"
git push origin main
